@charset "UTF-8";
.header {
  background-color: black; }
  .header__usuario {
    display: block;
    background-color: #fcd112;
    border-radius: 0.3rem;
    height: 3rem;
    width: 3rem; }

.nav-link {
  text-decoration: none;
  color: #fcd112; }

.nav-link:hover {
  box-shadow: 0 3px 0 0 #fcd112;
  background: #c6c9b2;
  border-radius: 0.5rem; }

.navbar-toggler-icon {
  background-color: #fcd112;
  border-radius: 0.5rem; }

.navbar-brand {
  border-radius: 2rem; }

.navbar-img {
  height: 3.5rem;
  width: 6rem;
  border-radius: 0.5rem; }

.dropdown-menu {
  background-color: black;
  border-radius: 0.5rem; }

.dropdown-item {
  text-decoration: none;
  color: #fcd112;
  border-radius: 0.5rem; }

.dropdown-item:hover {
  box-shadow: 0 3px 0 0 #fcd112;
  background: #c6c9b2; }

.navbar {
  background-color: black;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  padding: 0 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0px auto; }

.nav-item {
  width: 10rem;
  align-items: center; }

.navbar-nav {
  align-items: center; }

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 100%; }

.footer1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  color: white;
  justify-content: center; }
  .footer1:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #ece7e7;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }
  .footer1__pack {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px; }
  .footer1__cards {
    text-align: center; }
  .footer1__links {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    color: #fcd112;
    margin-bottom: 3px;
    margin-top: 18px; }
  .footer1__img {
    background-color: white;
    border-radius: 100%;
    margin: 10px; }
  .footer1__tjs {
    margin-right: 10px;
    margin-left: 10px; }
  .footer1__redes {
    margin: 12px; }
  .footer1__tjs0 {
    margin-right: 15px;
    margin-left: 10px; }
  .footer1__tjs1 {
    margin: 10px; }
  .footer1__imglogo1 {
    border-radius: 5%;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-right: 5px; }
  .footer1__img1 {
    background-color: white;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5px; }
  .footer1__links:hover, .footer1__img:hover, .footer1__redes:hover, .footer1__imglogo1:hover, .footer1__img1:hover, .footer1__tjs0:hover, .footer1__tjs:hover, .footer1__tjs1:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }

.footer2 {
  max-width: 1500px;
  width: 100%;
  color: white;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px; }
  .footer2:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }
  .footer2__links {
    text-align: center;
    text-decoration: none;
    color: #fcd112;
    margin-left: 20px; }
  .footer2__links:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }

.footer3 {
  max-width: 1500px;
  width: 100%;
  color: white;
  margin-top: 15px;
  padding-bottom: 25px;
  font-size: small; }
  .footer3:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }
  .footer3__links {
    text-decoration: none;
    color: #fcd112; }

.destacado {
  display: flex;
  flex-wrap: wrap;
  background-color: white; }
  .destacado__Titulo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    width: 100%;
    box-shadow: -20px 20px 20px #ecdc90; }
  .destacado__titulo {
    color: #fcd112;
    text-decoration: none; }
  .destacado__descripcion {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center; }
  .destacado__1 {
    display: inline-block;
    width: 550px;
    margin: 20px;
    box-shadow: -20px 20px 20px #ecdc90;
    justify-content: center; }
  .destacado__2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: -20px 20px 20px #ecdc90;
    border-radius: 1%;
    margin: 20px;
    justify-content: center; }
  .destacado__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .destacado__cards {
    margin: 1rem;
    justify-content: center;
    color: black;
    background-image: linear-gradient(to left, #fcd112, #f1dc7b, white, #f1dc7b, #fcd112);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 20rem; }
    .destacado__cards:hover {
      background: #b8b8b3;
      border-radius: 10px;
      color: #0f0f0f;
      padding: 10px 20px;
      border: 1px solid #ddd8d8;
      transition-property: all;
      /*a todas las propiedades nombradas*/
      transition-duration: 0.5s;
      /*con una duración de 0.5s*/
      transition-timing-function: ease-in;
      /*inicio lento, luego normal*/ }
  .destacado__video {
    margin: 1rem;
    justify-content: center;
    color: black;
    background-image: linear-gradient(to left, #fcd112, #f1dc7b, white, #f1dc7b, #fcd112);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 25rem; }
    .destacado__video:hover {
      background: #b8b8b3;
      border-radius: 10px;
      color: #0f0f0f;
      padding: 10px 20px;
      border: 1px solid #ddd8d8;
      transition-property: all;
      /*a todas las propiedades nombradas*/
      transition-duration: 0.5s;
      /*con una duración de 0.5s*/
      transition-timing-function: ease-in;
      /*inicio lento, luego normal*/ }

.servicios {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fcd112;
  justify-content: center;
  padding: 0.5rem; }
  .servicios__Titulo {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    box-shadow: -20px 20px 20px #ecdc90; }
  .servicios__titulo {
    color: black;
    text-decoration: none; }
  .servicios__descripcion {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center; }
  .servicios__1 {
    height: auto;
    width: 500px;
    margin: 20px;
    box-shadow: -20px 20px 20px #ecdc90;
    border-radius: 8px; }
  .servicios__contenido {
    width: 500px;
    height: auto;
    text-align: left;
    line-height: 2rem;
    margin: 15px;
    padding: 15px; }
  .servicios__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center; }
    .servicios__cards:hover {
      background: #2b2c2c;
      border-radius: 10px;
      color: #0f0f0f;
      padding: 10px 20px;
      border: 1px solid #ddd8d8;
      transition-property: all;
      /*a todas las propiedades nombradas*/
      transition-duration: 0.5s;
      /*con una duración de 0.5s*/
      transition-timing-function: ease-in;
      /*inicio lento, luego normal*/ }
    .servicios__cards__row {
      display: flex;
      justify-content: center; }
  .servicios__card__s {
    margin: .5rem;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: black;
    background-image: linear-gradient(to top, #fcd112, #f1dc7b, white, #f1dc7b, #fcd112);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 6rem; }
    .servicios__card__s:hover {
      background: #b8b8b3;
      border-radius: 10px;
      color: #0f0f0f;
      padding: 10px 20px;
      border: 1px solid #ddd8d8;
      transition-property: all;
      /*a todas las propiedades nombradas*/
      transition-duration: 0.5s;
      /*con una duración de 0.5s*/
      transition-timing-function: ease-in;
      /*inicio lento, luego normal*/ }

.promociones {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-bottom: 70px;
  /*&__cards {
        @include flex-wrap;
        padding: 1rem;
        justify-content: center;
        &:hover {
            background: $hover-background;
            border-radius: 10px;
            color: $hover-color;
            padding: 10px 20px;
            border: 1px solid $hover-border;
            transition-property: all;
            a todas las propiedades nombradas
            transition-duration: 0.5s;
            con una duración de 0.5s
            transition-timing-function: ease-in;
            inicio lento, luego normal
        }
    }*/ }
  .promociones__Titulo {
    padding: 15px;
    font-size: 20px;
    background-color: black;
    width: 100%;
    box-shadow: -20px 20px 20px #ecdc90; }
  .promociones__titulo {
    color: #fcd112;
    text-decoration: none; }
  .promociones__img {
    width: 100%;
    height: auto; }
  .promociones__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .promociones__cards {
    margin: 1rem;
    justify-content: center;
    color: black;
    background-image: linear-gradient(to left, #fcd112, #f1dc7b, white, #f1dc7b, #fcd112);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 25rem; }
    .promociones__cards:hover {
      background: #b8b8b3;
      border-radius: 10px;
      color: #0f0f0f;
      padding: 10px 20px;
      border: 1px solid #ddd8d8;
      transition-property: all;
      /*a todas las propiedades nombradas*/
      transition-duration: 0.5s;
      /*con una duración de 0.5s*/
      transition-timing-function: ease-in;
      /*inicio lento, luego normal*/ }

.newsletter {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 8px; }
  .newsletter__mes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 15px;
    box-shadow: -20px 20px 20px #1b1b1b;
    background-color: #fcd112;
    border-radius: 8px; }
  .newsletter__link {
    display: block;
    flex-direction: column;
    font-weight: bold;
    align-self: center;
    padding: 0 36px;
    height: 70;
    color: black;
    text-decoration: none;
    color: #fcd112;
    justify-content: center; }
  .newsletter__title {
    font-size: 24px;
    color: #fcd112;
    text-decoration: none; }
  .newsletter__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center; }
  .newsletter__row {
    display: flex;
    justify-content: center; }
  .newsletter__card {
    margin: 1rem;
    justify-content: center;
    color: black;
    background-image: linear-gradient(to left, #918f8f, #f1dc7b, white, #f1dc7b, #918f8f);
    padding: 0.5rem;
    width: 25rem; }

.card {
  margin: 1rem;
  justify-content: center;
  color: black;
  background-image: linear-gradient(to left, #918f8f, #f1dc7b, white, #f1dc7b, #918f8f);
  padding: 0.5rem; }

/*carrusel abril.html*/
.carousel-caption {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  padding-left: 4rem;
  padding-right: 4rem; }

.carousel-caption:hover {
  background: #e0a767;
  border-radius: 10px;
  color: #0f0f0f;
  padding: 10px 20px;
  border: 1px solid #ddd8d8;
  transition-property: all;
  /*a todas las propiedades nombradas*/
  transition-duration: 0.5s;
  /*con una duración de 0.5s*/
  transition-timing-function: ease-in;
  /*inicio lento,luego normal*/ }

.d-block {
  width: 50%;
  height: auto;
  margin: auto; }

.portada {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/circular2.png);
  background-position: center;
  height: 650px;
  width: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-align: center; }
  .portada__tex {
    line-height: 10px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    color: black; }

.grid {
  display: grid;
  grid-auto-rows: 450px;
  gap: 1rem;
  grid-auto-flow: row dense;
  justify-content: center;
  height: auto;
  background-image: linear-gradient(to bottom, #4f4f53, black, #4f4f53);
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem; }
  .grid:hover {
    background: #2b2c2c;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 10px 20px;
    border: 1px solid #ddd8d8;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/ }
  .grid__1, .grid__2, .grid__4, .grid__5, .grid__7, .grid__8, .grid__9 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 0.9rem; }
  .grid__3, .grid__6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 50%; }
  .grid__1 {
    background-image: url(../recursos/servicios.png); }
  .grid__2 {
    background-image: url(../recursos/servicios2.png); }
  .grid__3 {
    background-image: url(../recursos/servicios3.png); }
  .grid__4 {
    background-image: url(../recursos/servicios4.png); }
  .grid__5 {
    background-image: url(../recursos/servicios5.png); }
  .grid__6 {
    background-image: url(../recursos/servicios6.png); }
  .grid__7 {
    background-image: url(../recursos/logo.png); }
  .grid__8 {
    background-image: url(../recursos/vetok.png); }
  .grid__9 {
    background-image: url(../recursos/vetok2.png); }
  .grid__txt {
    text-align: center;
    align-self: center;
    color: #fcd112;
    padding: 2rem;
    width: 100%;
    border-radius: 0.5rem; }
  .grid__txt1 {
    text-align: center;
    align-self: center;
    line-height: 8rem;
    color: #fcd112;
    padding: 2rem;
    width: 100%;
    border-radius: 0.5rem; }
  .grid__titulo {
    font-size: 24px;
    color: #fcd112;
    text-decoration: none; }

.grid-gallery {
  display: grid;
  padding: 3rem;
  grid-auto-rows: 200px;
  gap: 0.8rem;
  grid-auto-flow: row dense;
  background-image: linear-gradient(to bottom, black, white, black);
  align-self: center;
  margin-top: 2rem; }

.grid__item:nth-child(11n+1) {
  grid-column: span 1; }

.grid__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1; }

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1; }

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2; }

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2; }

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3; }

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.grid-gallery__image:hover {
  background: #2b2c2c;
  border-radius: 10px;
  color: #0f0f0f;
  padding: 10px 20px;
  border: 1px solid #ddd8d8;
  transition-property: all;
  /*a todas las propiedades nombradas*/
  transition-duration: 0.5s;
  /*con una duración de 0.5s*/
  transition-timing-function: ease-in;
  /*inicio lento, luego normal*/ }

.planes__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center; }

.planes__row {
  display: flex;
  justify-content: center; }

.planes__col-md-3 {
  border-radius: 0.5rem;
  width: 50%;
  margin-top: 3rem; }

.planes__card {
  margin: 1rem;
  justify-content: center;
  color: black;
  background-image: linear-gradient(to left, #918f8f, #f1dc7b, white, #f1dc7b, #918f8f);
  padding: 0.5rem;
  width: 20rem; }

.parallax,
.texto {
  margin: 0 auto; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30rem;
  width: 100%;
  position: relative; }
  .parallax__img-uno {
    background-image: url("https://cdn.wamiz.fr/cdn-cgi/image/quality=80,width=1200,height=675,fit=cover/article/main-picture/5d7f86d69b35c743927922.jpg"); }
  .parallax__img-dos {
    background-image: url("https://www.hola.com/imagenes/estar-bien/20180417122950/perro-gato-casa-convivencia/0-558-880/perro-gato-en-casa-1-t.jpg"); }
  .parallax__img-tres {
    background-image: url("https://images.hola.com/imagenes/mascotas/20190412140510/razas-de-perro-para-convivir-con-gato/0-668-415/labrador-a.jpg"); }
  .parallax__img-cuatro {
    background-image: url("https://zonagatos.com/wp-content/uploads/2021/01/errores-al-banar-a-tu-gato-e1610614496253.jpg"); }
  .parallax__img-cinco {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-tumbado_0.jpg"); }
  .parallax__img-seis {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-thai.jpg"); }
  .parallax__img-siete {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-moderno.jpg"); }
  .parallax__img-ocho {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-sol.jpg"); }
  .parallax__img-nueve {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-muro.jpg"); }
  .parallax__img-diez {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-campo.jpg"); }
  .parallax__img-once {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-hablador.jpg"); }
  .parallax__img-doce {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-cachorro-blanco.jpg"); }
  .parallax__img-trece {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-cachorro.jpg"); }
  .parallax__img-catorce {
    background-image: url("https://estaticos.muyinteresante.es/media/cache/1000x_thumb/uploads/images/gallery/591ec9b95bafe8a5c53c986a/siames-cara.jpg"); }
  .parallax__texto-interior {
    color: #2b2c2c;
    font-size: larger;
    font-weight: bolder;
    left: 10%;
    position: right;
    text-align: center;
    top: 40%;
    width: 40%; }
  .parallax__texto {
    font-size: medium;
    font-style: oblique;
    text-align: center;
    padding: 5%;
    width: 100%; }

.error404 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

@media screen and (max-width: 1024px) {
  .container-fluid,
  .navbar,
  footer {
    background-image: linear-gradient(to left, #918f8f, black, #5a0fd3, black, #918f8f); }
  .portada,
  .carousel,
  .destacado,
  .servicios,
  .parallax,
  .promociones {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .container-fluid,
  .navbar,
  footer {
    background-image: linear-gradient(to top, #918f8f, black, #5a0fd3, black, #918f8f); }
  .portada,
  .carousel,
  .destacado,
  .servicios,
  .parallax,
  .promociones {
    display: flex;
    flex-direction: column; } }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

@media all and (min-width: 320px) {
  .grid {
    grid-template-columns: repeat(1, 1fr); } }

@media all and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); } }

@media all and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); } }

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); } }

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr); } }

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr); } }

/* ESTILOS GLOBALES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Poppins", "sans-serif";
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: linear-gradient(to left, #918f8f, #f1dc7b, white, #f1dc7b, #918f8f); }

/* HEADER */
li {
  display: inline-block;
  position: relative;
  font-size: 16px; }

/* MAIN */
.article__contenido {
  background-image: linear-gradient(to top, #918f8f, black, #5a0fd3, black, #918f8f);
  background-position-y: center;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 2rem;
  color: #fcd112;
  border-radius: 0.5rem; }

.section__mari {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/marzo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: linear-gradient(to left, #918f8f, #f1dc7b, white, #f1dc7b, #918f8f);
  background-position-x: left;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  color: black;
  border-radius: 0.5rem; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.py-5 {
  margin-top: 2rem; }

.form__gatoamarillo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 9rem;
  height: 9rem; }

.form__img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem; }
