.grid {
    display: grid;
    grid-auto-rows: 450px;
    gap: 1rem;
    grid-auto-flow: row dense;
    justify-content: center;
    height: auto;
    background-image: linear-gradient(to bottom, $color-grids, $color-black, $color-grids);
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    &:hover {
        background: $hover-background;
        border-radius: 10px;
        color: $hover-color;
        padding: 10px 20px;
        border: 1px solid $hover-border;
        transition-property: all;
        /*a todas las propiedades nombradas*/
        transition-duration: 0.5s;
        /*con una duración de 0.5s*/
        transition-timing-function: ease-in;
        /*inicio lento, luego normal*/
    }
    &__1 {
        background-image: url(../recursos/servicios.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__2 {
        background-image: url(../recursos/servicios2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__3 {
        background-image: url(../recursos/servicios3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 50%;
    }
    &__4 {
        background-image: url(../recursos/servicios4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__5 {
        background-image: url(../recursos/servicios5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__6 {
        background-image: url(../recursos/servicios6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 50%;
    }
    &__txt {
        text-align: center;
        align-self: center;
        color: $background-yelow;
        padding: 2rem;
        width: 100%;
        border-radius: 0.5rem;
    }
    &__txt1 {
        text-align: center;
        align-self: center;
        line-height: 8rem;
        color: $background-yelow;
        padding: 2rem;
        width: 100%;
        border-radius: 0.5rem;
    }
    &__titulo {
        font-size: 24px;
        color: $background-yelow;
        text-decoration: none;
    }
    &__7 {
        background-image: url(../recursos/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__8 {
        background-image: url(../recursos/vetok.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
    &__9 {
        background-image: url(../recursos/vetok2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        border-radius: 0.9rem;
    }
}

@media all and (min-width: 320px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-gallery {
    display: grid;
    padding: 3rem;
    grid-auto-rows: 200px;
    gap: 0.8rem;
    grid-auto-flow: row dense;
    background-image: linear-gradient(to bottom, $color-black, $color-white, $color-black);
    align-self: center;
}

@media all and (min-width: 320px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-gallery__image:hover {
    background: $hover-background;
    border-radius: 10px;
    color: $hover-color;
    padding: 10px 20px;
    border: 1px solid $hover-border;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento, luego normal*/
}