@media screen and (max-width:1024px) {
    .container-fluid,
    .navbar,
    footer {
        background-image: linear-gradient(to left, $background-body, $color-black, $color-media, $color-black, $background-body);
    }
    .portada,
    .carousel,
    .destacado,
    .servicios,
    .parallax,
    .promociones {
        @include flex-column;
    }
}

@media screen and (max-width:768px) {
    .container-fluid,
    .navbar,
    footer {
        background-image: linear-gradient(to top, $background-body, $color-black, $color-media, $color-black, $background-body);
    }
    .portada,
    .carousel,
    .destacado,
    .servicios,
    .parallax,
    .promociones {
        @include flex-column;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media all and (min-width: 320px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 320px) {
    .grid-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}