.newsletter {
    @include flex-wrap;
    margin: 60px;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    border-radius: 8px;
    &__mes {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding: 15px;
        box-shadow: -20px 20px 20px $color-newsletter;
        background-color: $background-yelow;
        border-radius: 8px;
    }
    &__link {
        display: block;
        flex-direction: column;
        font-weight: bold;
        align-self: center;
        padding: 0 36px;
        height: 70;
        color: $color-black;
        text-decoration: none;
        color: $background-yelow;
        justify-content: center;
    }
    &__title {
        color: $background-yelow;
        text-decoration: none;
    }
    &__cards {
        @include flex-wrap;
        padding: 1rem;
        justify-content: center;
    }
    &__row {
        display: flex;
        justify-content: center;
    }
    &__card {
        margin: 1rem;
        justify-content: center;
        color: $color-black;
        background-image: linear-gradient(to left, $background-body, $background-body2, $color-white, $background-body2, $background-body);
        padding: 0.5rem;
        width: 25rem;
    }
}

.card {
    margin: 1rem;
    justify-content: center;
    color: $color-black;
    background-image: linear-gradient(to left, $background-body, $background-body2, $color-white, $background-body2, $background-body);
    padding: 0.5rem;
}


/*carrusel abril.html*/

.carousel-caption {
    color: $font-carrusel-color;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 4rem;
    padding-right: 4rem;
}

.carousel-caption:hover {
    background: $background-carrusel;
    border-radius: 10px;
    color: $hover-color;
    padding: 10px 20px;
    border: 1px solid $hover-border;
    transition-property: all;
    /*a todas las propiedades nombradas*/
    transition-duration: 0.5s;
    /*con una duración de 0.5s*/
    transition-timing-function: ease-in;
    /*inicio lento,luego normal*/
}

.d-block {
    width: 50%;
    height: auto;
    margin: auto;
}