.promociones {
    @include flex-column;
    background-color: $color-white;
    width: 100%;
    padding-bottom: 70px;
    &__Titulo {
        padding: 15px;
        font-size: 20px;
        background-color: $color-black;
        width: 100%;
        box-shadow: -20px 20px 20px $color-shadow;
    }
    &__titulo {
        color: $color-promociones;
        text-decoration: none;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__cards {
        @include flex-wrap;
        padding: 1rem;
        justify-content: center;
    }
    &__row {
        display: flex;
        justify-content: center;
    }
}

.parallax,
.texto {
    margin: 0 auto
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
}

.texto-interior {
    color: $color-black;
    font-size: xx-large;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%
}

.texto {
    padding: 5%;
    width: 90%
}

.img-uno {
    background-image: url("https://www.hola.com/imagenes/estar-bien/20180417122950/perro-gato-casa-convivencia/0-558-880/perro-gato-en-casa-1-t.jpg")
}

.img-dos {
    background-image: url("https://cdn.wamiz.fr/cdn-cgi/image/quality=80,width=1200,height=675,fit=cover/article/main-picture/5d7f86d69b35c743927922.jpg");
}

.img-tres {
    background-image: url("https://images.hola.com/imagenes/mascotas/20190412140510/razas-de-perro-para-convivir-con-gato/0-668-415/labrador-a.jpg");
}