.promociones {
    @include flex-column;
    background-color: $color-white;
    width: 100%;
    padding-bottom: 70px;
    &__Titulo {
        padding: 15px;
        font-size: 20px;
        background-color: $color-black;
        width: 100%;
        box-shadow: -20px 20px 20px $color-shadow;
    }
    &__titulo {
        color: $color-promociones;
        text-decoration: none;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__cards {
        @include flex-wrap;
        padding: 1rem;
        justify-content: center;
        &:hover {
            background: $hover-background;
            border-radius: 10px;
            color: $hover-color;
            padding: 10px 20px;
            border: 1px solid $hover-border;
            transition-property: all;
            /*a todas las propiedades nombradas*/
            transition-duration: 0.5s;
            /*con una duración de 0.5s*/
            transition-timing-function: ease-in;
            /*inicio lento, luego normal*/
        }
    }
    &__row {
        display: flex;
        justify-content: center;
    }
}