$color-black: black;
$color-white: white;
$background-yelow:rgb(252, 209, 18);
$background-nav-link:rgb(198, 201, 178);
$color-border-bottom:rgba(255, 255, 255, 0.3);
$hover-background: rgb(43, 44, 44);
$hover-card: rgb(184, 184, 179);
$hover-color: rgb(15, 15, 15);
$hover-footer: rgb(236, 231, 231);
$hover-border:rgb(221, 216, 216);
$color-shadow: rgb(236, 220, 144);
$color-grids:rgb(79, 79, 83);
$color-newsletter: rgb(27, 27, 27);
$color-promociones:rgb(252, 209, 18);
$background-body: rgb(145, 143, 143);
$background-body2: rgb(241, 220, 123);
$font-carrusel-color: rgb(255, 255, 255);
$background-carrusel: rgb(224, 167, 103);
$color-media:rgb(90, 15, 211);
$color-media2:rgb(36, 2, 36);
$font-family:'Poppins';
$font-family2:'sans-serif';